<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>FITNESS PAL!</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
  <link rel="stylesheet" href="/css/jass.css">
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<section class="hero is-light">
  <div class="hero-body">
    <p class="title">
      FITNESS PAL
    </p>
    <p class="subtitle">
      TRACK WORKOUTS <strong>INSTANTLY</strong>!
    </p>
  </div>
  
</section>
{{!-- header start --}}

  <div class="navbar-end">
    <div class="navbar-item">
      <div class="buttons">
        
        <a class="button is-primary">
          <strong>Sign up</strong>
        </a>
        <a class="button is-light">
          Log in
        </a>
      </div>
    </div>
  </div>
</div>
  </body>
{{!-- header end --}}



{{!-- body start --}}
<div class="tile is-ancestor">
    <div class="tile is-vertical is-8">
      <div class="tile">
        <div class="tile is-parent is-vertical">
          <article class="tile is-child notification is-light">
            <p class="title">WELCOME</p>
            <p class="subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque cursus nisl a convallis volutpat. Integer vehicula arcu ut tortor euismod, aliquet ullamcorper nisi laoreet. Quisque ultricies ante quis efficitur finibus. Vivamus quis augue sodales, viverra turpis a, viverra nulla. Aenean vitae metus pretium, iaculis massa non, sodales sapien. Integer viverra in arcu ut bibendum. Mauris sollicitudin ut ante tincidunt iaculis. Fusce porttitor lorem at purus accumsan, quis tincidunt massa aliquet.</p>
          </article>
          <article class="tile is-child notification is-light">
            <p class="title">GET MOTIVATED</p>
            <p class="subtitle">Track workouts set goals</p>
          </article>
        </div>
        <div class="tile is-parent">
          <article class="tile is-child notification is-light">
            <p class="title">STAY FIT</p>
            
            <p class="subtitle">Insert text and image....</p>
            <figure class="image is-4by3">
              <img src="https://mountainsidefitness.com/wp-content/uploads/2020/05/Mountainside-home-Retouched-v1.jpg">
            </figure>
          </article>
        </div>
      </div>
      <div class="tile is-parent">
        <article class="tile is-child notification is-light">
          <p class="title">TRACK WORKOUTS</p>
          <p class="subtitle">Aligned with the right tile</p>
          <div class="content">
            <!-- Content -->
          </div>
        </article>
      </div>
    </div>
    {{!-- end --}}

    {{!-- login form start --}}

<div class="tile is-parent">
      <article class="tile is-child notification is-light">
        <div class="content">
          <p class="title">GET STARTED</p>
          <h2>Sign up or login to start tracking your results!</h2>
          <div class="content">
            <div class="container">
                <div class="columns">
                    <div class="column center is-three-thirds-mobile">
        {{!-- <div class="card shoe has-background-light"> --}}
<div class="flex-column justify-space-around">
    <header class="display-flex justify-space-between align-center p-2">
      <nav>
        <!-- Conditionally render login or logout links -->
        {{#if logged_in}}
        <a href="/profile">profile</a> |
        <button class="no-button" id="logout">logout</button>
        {{else}}
        <a href="/login">login</a>
        {{/if}}
      </nav>
    </header>
    <main class="container container-fluid mt-5">
      <!-- Render the sub layout -->
      {{{ body }}}
    </main>
    <footer>
      
    </footer>
  </div>

  <!-- Render script for logged in users only -->
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>

</html>
