<!-- Loop over each object in the projects array -->

<div class="row mb-4 project">
  <div class="col-md-5">
    <h2>
      
      <!-- Call helper function with triple brackets to render the emoji span as HTML -->
      {{{get_emoji}}}
      
    </h2>
    <p>
      <span for="img" aria-label="money">💲</span>
      <!-- Pass needed_funding value to the helper function -->
      
      needed!
    </p>
    
  </div>
  <div class="col-md-7">
    <p>
      {{project.description}}
    </p>
  </div>
</div>

