<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{name}}!</h2>
  </div>
</div>

</head>
  <body>
    <div class="container box p-6
                has-background-light">
      <h1 class="title has-text-centered has-text-success">
        New Workout Form
      </h1>
      <form action="">
        <div class="field">
          <label class="label">Workout Type</label>
           <div class="control">
            <div class="select">
              <select>
                <option>Cardio</option>
                <option>Weight Training</option>
                <option>Stretching</option>
              </select>
            </div>
          </div>
        </div>
  
        <div class="field">
          <label class="label">Workout Name</label>
          <div class="control has-icons-left
                      has-icons-right">
            <input
              class="input is-success"
              type="text"
              placeholder="Enter the name of your workout"
            />
            <span class="icon is-small is-left">
              <i class="fas fa-user"></i>
            </span>
          </div>
        </div>
  
        <div class="field">
          <label class="label">Length of Workout</label>
          <div class="control has-icons-left
                      has-icons-right">
            <input
              class="input is-danger"
              type=""
              placeholder="How long was/is the workout"
            />
            <span class="icon is-small is-left">
              <i class="fas fa-envelope"></i>
            </span>
          </div>
        </div>
  
        <div class="field">
          <label class="label">Number of Reps</label>
          <div class="control has-icons-left
                      has-icons-right">
            <input
              class="input is-danger"
              type=""
              placeholder="How many reps wass your workout?"
            />
            <span class="icon is-small is-left">
              <i class="fas fa-key"></i>
            </span>
          </div>
        </div>
  
        <div class="field">
          <label class="label">
            Notes on the Workout
          </label>
          <div class="control">
            <textarea
              class="textarea"
              placeholder="Anything else about the workout?"
            ></textarea>
          </div>
        </div>
  
        
  
        <div class="field is-grouped">
          <div class="control">
            <button class="button is-success">
              Submit
            </button>
          </div>
          <div class="control">
            <button class="button is-link is-light">
              Cancel
            </button>
          </div>
        </div>
      </form>
    </div>
  </body>
<script src="./js/profile.js"></script>
