header {
    padding: 2em;
    background-color: grey;
    margin-top: 2em;
    text-align: center;
    color: aliceblue;
}


.quote{
    font-size: 2em;
}

.bttn-large {
    margin:-0.5em;
}

.card{
    width: 45em;
    text-align: center;

}

.new-quote-button {
    background-color: grey;
}